setuptools==42.0.1
scipy==1.2.2
numpy==1.16.5
matplotlib==2.2.4
subprocess32==3.5.4
kiwisolver==1.1.0
six==1.13.0
pytz==2019.3
python_dateutil==2.8.1
pyparsing==2.4.5

simple-pid==0.2.4
Adafruit-ADS1x15==1.0.2
Adafruit-PCA9685==1.0.1
Adafruit-MotorHAT==1.4.0
RPi.GPIO==0.7.0
filterpy==1.4.5
pyserial==3.4
